# -*- coding: utf-8 -*-
#
# Copyright (C) 2021-2024 Northwestern University.
#
# invenio-subjects-mesh is free software; you can redistribute it and/or
# modify it under the terms of the MIT License; see LICENSE file for more
# details.

# Update this manifest file by running the following commands:
# (please sort the lines in this file after running below commands)
#
#  check-manifest -u

# added by check-manifest
include *.md
recursive-include invenio_subjects_mesh *.yaml
recursive-include invenio_subjects_mesh *.jsonl
recursive-include invenio_subjects_mesh *.csv
recursive-include tests *.py
